@import '/src/theme/utils.scss';
@import '/src/theme/variables.scss';

.RHFInput {
  width: 100%;
  position: relative;
  div {
    width: 100%;
    padding-block: px(8);
  }
  input,
  textarea {
    all: initial;
    width: 100%;
    color: $gray-200;
    padding-block: px(8);
    border-radius: px(8);
    padding-inline: px(12);
    box-sizing: border-box;
    box-shadow: $boxShadow;
    background-color: $white;

    &::placeholder {
      color: $placeholder;
    }
  }
}

.RHFCloseIcon {
  position: absolute;
  right: px(10);
  top: px(8);
  cursor: pointer;
}

.RHFHelperText {
  padding: 0;
  color: $error;
  font-size: px(11);
  font-weight: 600;
  margin-top: px(6);
  padding-left: px(8);
  box-sizing: border-box;
}
